<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="tip">请使用键盘的 上↑ 下↓ 左← 右→ 键控制方向</div>
    <div class="container">
        <div class="stage">
            <div id="snack" class="snack">
                <div></div>
            </div>
            <div id="food" class="food">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="score-panel">
            <div>
                SCORE:<span id="score">0</span>
            </div>
            <div>
                LEVEL:<span id="level">1</span>
            </div>
        </div>
    </div>
</body>
</html>